.all-categories-container {
  padding: 10%;
}

.category-container {
  display: flex;
  align-items: center;
}

.sub-categories-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.sub-categories-container input {
  height: 25px;
  font-size: small;
}

.category-checkbox {
  flex: 3;
}

.category-weight {
  display: flex;
  align-items: center;
  flex: 1;
}

.category-weight input {
  text-align: center;
  padding: 0;
}

.percentage-label {
  /*margin-left:-20px;*/
}

.subcategory-container {
  display: flex;
  align-items: center;
  font-size: smaller;
  margin-top: 5%;
}

.calculate-button-container {
  justify-content: center;
  display: flex;
}

#tableContainer {
  overflow: scroll;
}
